#content_wrapper {
	background: url('../images/layered-trans-backtop.png') no-repeat top left;
	height: 100%;
	float: left;
	width: 860px;
	padding-left: 0;
	padding-top: 17px;
}

#nav {
	left: 850px;
}

#nav a {
	border-bottom: 2px solid #414F40;
	border-right: 2px solid #414F40;
}

#content {
	background: url('../images/layered-trans-background.png') repeat-y;
	background-color: none;
	float: left;
	width: 860px;
}

#whatido, #mywork, #about, #contact {
	width: 820px;
	margin-left: 10px;
	background-color: #f6f0ea;
	padding-right: 20px;
}

.section_banner {
	width: 400px;
	margin-left: -10px;
}

#front_end_list {
	line-height: 25px;
}

#server_side_list {
	line-height: 23px;
}

#database_list {
	line-height: 23px;
}

.portfolio_item {
	padding-bottom: 10px;
}

.portfolio_item h4 {
	width: 230px;
}

.portfolio_item img {
}

.portfolio_item h4, .section_banner {
	clear: both;
}

#social_networks {
	padding-left: 35px;
}

#contact_form {
	margin-top: -5px;
}

#btn_submit_cf {
	margin-right: 325px;
}

#footer {
	clear: both;
	width: 860px;
}

