@font-face {
	font-family:'Myriad Pro';
	src:url('type/myriadpro-regular-webfont.eot');
	font-weight:normal;
	font-style:normal;
}

h1, h2, h3, p, dl, dt {
	margin:0;
	padding:0;
}

ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

img {
	border:0;
}

body {
	font-family:"Myriad Pro", Helvetica, Arial;
	background:#ebdfca url('../images/wood_bg.jpg') top center fixed;
	color:white;
	margin:0;
	padding:0;
}

textarea {
	font-family:"Myriad Pro", Helvetica, Arial;
}

#main_wrapper {
	margin:auto;
	width:940px;
	position:relative;
	padding-top:30px;
}

#content_wrapper {
	padding:10px 10px 0px 10px;
	background:rgba(256, 256, 256, 0.28);
	width:843px;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

#content {
	background:rgba(256, 256, 256, 0.47);
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}

.clearBoth, #mywork_banner, #contact_banner {
	clear:both;
}

#header {
	height:75px;
	background:url('../images/title_logo.png') no-repeat;
	margin-left:30px;
}

#header h1 {
	text-indent:-9000px;
}

#nav {
	font-size:12px;
	font-weight:bold;
	position:absolute;
	left:853px;
	float:right;
	top:134px;
}

#nav ul {
	position:fixed;
}

#nav li {
	margin-top:33px;
}

#nav a {
	outline:none;
	padding:10px 15px 10px 10px;
	background-color:#068600;
	border-left:10px solid #4BA747;
	box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	-moz-box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	-webkit-box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	cursor:pointer;
	color:white;
	text-decoration:none;
}

#nav a:hover, #nav a:visited, #nav a:active {
	color:white;
	text-decoration:none;
}

#up_nav_link {
	display:none;
	margin-top:60px;
	background-color:#78478C !important;
	border-color:#9e7bab !important;
}

.section_banner {
	height:28px;
	margin-left:-20px;
	padding:5px 0 5px 35px;
	font-size:16px;
	background:url('../images/section_banner.png') no-repeat top left;
}

#whatido, #about {
	background-color:rgba(247, 242, 234, .66);
	margin-bottom:40px;
	float:left;
	padding-bottom:20px;
	width:100%;
}

#mywork {
	background-color:rgba(247, 242, 234, .66);
	margin-bottom:40px;
	padding-bottom:30px;
}

#contact {
	background-color:rgba(247, 242, 234, .66);
	height:500px;
}

.section h2 {
	color:#41382c;
	font-size:40px;
	padding-left:15px;
	text-shadow:1px 2px 2px rgba(122, 122, 122, .49);
	width:240px;
}

.section p {
	color:#24221e;
	font-size:14px;
	line-height:20px;
}

.description_section p {
	padding-bottom:15px;
	color:#423b31;
}

.intro span {
	color:#ff8023;
	font-size:30px;
}

.intro {
	color:#24221e;
	font-size:24px;
	font-weight:bold;
	padding-left:50px;
	padding-right:40px;
}

#salutation {
	color:#24221e;
	font-size:24px;
	font-weight:bold;
	padding-left:50px;
	padding-right:40px;
	padding-top:40px;
}

.last_intro {
	padding-top:6px;
}

span.ashamed {
	font-size:18px;
	padding-left:20px;
	color:#ff8023;
}

#services_banner {
	margin-top:45px;
}

#whatido h1 {
	font-size:23px;
	color:#645d54;
	font-weight:normal;
	font-style:italic;
	padding:12px 0 12px 62px;
}

#web_dev_section {
	overflow:hidden;
	margin-bottom:20px;
}

#web_dev_section .description_section h1 {
	background:url('../images/blueprint.png') no-repeat top left;
}

#dev_skill_section {
	font-weight:bold;
	font-size:20px;
	padding:14px 0 0 380px;
}

#ux_skill_section {
	font-weight:bold;
	font-size:20px;
	padding:14px 0 0 380px;
	color:#78478C;
	padding-top:40px;
}

#dev_skill_section ul li ul {
	font-size:16px;
	padding-left:8px;
}

.skill_column {
	float:left;
	margin-right:40px;
}

.description_section {
	float:left;
	width:320px;
	padding-left:15px;
}

#front_end_list {
	color:#ff8023;
	padding-bottom:9px;
}

#front_end_list ul {
	color:#ea9e67;
}

#database_list {
	color:#c84618;
}

#server_side_list {
	color:#476edd;
}

#server_side_list ul {
	color:#7996ee;
}

#api_list {
	color:#0f6b0a;
}

#api_list ul {
	color:#42b33c;
	padding-bottom:10px;
}

#other_list {
	color:#78478c;
	line-height:23px;
}

#ux_section .description_section h1 {
	background:url('../images/person.png') no-repeat top left;
}

#ux_skill_section ul {
	width:250px;
	text-align:center;
	padding-left:70px;
}

#ux_skill_section li {
	padding-bottom:25px;
}

.hidden {
	display:none;
}

#wrk {
	color:#EFE2D7;
}

#career_listing {
	margin-left:40px;
}

#mywork p {
	padding-left:15px;
	padding-right:40px;
}

#mywork h3 {
	padding-left:15px;
	color:#24221e;
	padding-top:20px;
}

.work_link, #about div, #contact div {
	float:left;
}

#et_link {
	margin:15px 0 0 15px;
}

#cc_link {
	margin:0 0 0 75px;
	margin-top:6px;
}

#cb_link {
	margin:0 0 0 75px;
}

#t_link {
	margin:15px 0 20px 15px;
	display:block;
}

.portfolio_item {
	margin:30px 0 0 0;
	overflow:hidden;
}

.portfolio_item h4 {
	background-color:#545a89;
	box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	-moz-box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	-webkit-box-shadow:2px 2px 4px rgba(1,0,0, 0.42);
	padding:5px 10px 5px 15px;
	width:240px;
}

.portfolio_item ul {
	list-style-type:none;
}

.portfolio_item ul li {
	font-size:25px;
	font-weight:bold;
	color:#c7894e;
}

.portfolio_item dt {
	font-size:18px;
	font-weight:bold;
	color:#41382c;
}

.port_thumb {
	background-color:white;
	padding:4px;
	border:1px solid #d6d4d2;
	margin-left:15px;
	float:left;
}

.project_resp {
	margin-left:432px;
}

#bio {
	width:57%;
	padding-left:15px;
}

#bio p {
	padding-bottom:15px;
}

#bio span {
	font-weight:bold;
	padding-left:10px;
}

#social_networks {
	padding-left:40px;
	width:300px;
	margin-top:3px;
}

#social_networks p {
	font-size:24px;
	font-weight:bold;
	width:210px;
}

#social_icons_holder {
	padding-bottom:26px;
}

#social_icons_holder a {
	float:left;
	outline:none;
	margin:10px 36px 5px 0px;
}

#resume_dwnload_link {
	display:block;
	height:32px;
	clear:both;
	background:url('../images/pdf.png') no-repeat top left;
	padding-left:41px;
	line-height:33px;
}

#contact input {
	outline:none;
}

#contact_blurb {
	width:357px;
	padding:0px 40px 0px 15px;
}

#contact p {
	padding-top:15px;
}

#work_status {
	font-size:24px;
	font-weight:bold;
	margin-top:30px;
	padding-right:125px;
	text-align:center;
}

#name, #email {
	padding-top:9px;
	font-size:18px;
	width:392px;
	border:0;
	padding-left:8px;
	color:#69655d;
}

#message {
	font-size:18px;
	width:392px;
	border:0;
	padding-left:8px;
	color:#69655d;
	height:178px;
	max-width:392px;
	max-height:178px;
	padding-top:7px;
}

#contact_form .inset_drop {
	background-color:white;
	padding:5px 0 0 5px;
	box-shadow:inset 2px 2px 4px rgba(1,0,0, 0.31);
	-moz-box-shadow:inset 2px 2px 4px rgba(1,0,0, 0.31);
	-webkit-box-shadow:2px 2px 4px rgba(1,0,0, 0.31) inset;
}

#contact_form .small_shadow_holder {
	height:46px;
	margin-bottom:24px;
}

#btn_submit_cf {
	float:right;
	margin:15px 33px 0 0;
	background:url('../images/submit_btn.png') no-repeat top left;
	border:0;
	width:83px;
	height:32px;
	color:white;
	font-weight:bold;
	font-size:16px;
}

#required_msg {
	display:block;
	padding-bottom:4px;
	color:#24221E;
}

#confirm_msg {
	float:right;
	display:block;
	width:285px;
	margin:18px 28px 0 0;
	color:#068600;
	visibility:hidden;
}

#footer {
	width:863px;
	background-color:#dc4f17;
	padding:15px 0;
	text-align:center;
}