body {
	font-family: helvetica, arial, tahoma;
}

h1 {
	font-size: 60px;
	text-align: center;
}

#da1 {
	width: 800px;
	margin: 0 auto 80px;
	border: none;
}

#da1 span {
	display: inline-block;
	width: 220px;
	height: 60px;
	border: 1px solid #888;
	font-size: 40px;
	color: #555;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	text-align: center;
	padding-top: 20px;
	margin-left: 75px;
}

#time_info {
	color: #555;
	font-size: 42px;
	margin: 0 auto;
	width: 800px;
}

#prog-indicator { 
	width: 800px;
	border: 1px solid #999;	
}

#prog-indicator, #indicator {
	height: 16px;
}

#indicator {
	width: 0px;
	background-color: green;
	display: block;
}